numpy==1.12.0
Flask==0.12
pyasn1==0.3.7
lxml==4.1.0
Cython==0.26.1
pyOpenSSL==17.5.0
backports.functools_lru_cache==1.4
certifi==2017.11.5
com==1.0.0
ed25519ll==0.6
protobuf==3.5.0.post1
ipaddr==2.2.0
java==0.0.1
keyring==10.5.0
ndg_httpsclient==0.4.3
nt==0.0.0
org==1.0.0
redis==2.10.6
usercustomize==1.0.0
wincertstore==0.2
pyxdg==0.25
flask-cors==3.0.3
